{% extends "base.html" %}


{% block title %}

{% endblock title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form_kegiatan.nama_kegiatan.label_tag}}
			{{form_kegiatan.nama_kegiatan}}
        </div>

        <div class="form-group">
            {{form_kegiatan.deskripsi.label_tag}}
			{{form_kegiatan.deskripsi}}
        </div>

        <div class="form-group">
			{{form_kegiatan.tanggal_kegiatan.label_tag}}
			<div class="form-row">
				{{form_kegiatan.tanggal_kegiatan}}
			</div>
        </div>
        
        <div class="form-group">
            {{form_kegiatan.partisipan.label_tag}}
			{{form_kegiatan.partisipan}}
        </div>

        <div class="form-group">
            {{form_kegiatan.password.label_tag}}
			{{form_kegiatan.password}}
        </div>

        <button class="btn btn-dark" type="submit">Kirim</button>

    </form>
{% endblock content %}